nav {
	padding: 0 70px;
}

body {
	background-image: url("images/vintage-concrete.png");
}

h1, h2, h3 {
	margin-top: 20px;
}

.container-fluid {
	padding-top: 15px;
}

.navbar-brand h1{
	margin: 0;
	padding-top: 15px;
	color: white;
}

.navbar-header {
	height: 60px;
}

.navbar-brand {
	background-color: #4aaaa5;
	padding: 0 15px;
}

.navbar-brand:hover {
	background-color: #43876e!important;
	transition:.33s linear;
}

.container {
	background-image: url("../images/vintage-concrete.png")!important;
}

.wrapper {
	background-color: white;
	margin-top: 100px;
	/*overflow: hidden;*/
	/*margin-right: 20px;*/
	padding: 20px;
}

.page-header {
	margin-top: 20px;
}